
.title {
  margin-top: 100px;
  text-align: center;
}

.list-container .list {
  margin: 30px auto;
  max-width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 3rem 0.2rem;

  background-color: #f0f4f7;
  padding: 30px 30px;
  border-radius: 5px;
}
