.select-manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  button {
    margin-left: 130px;
    padding: 8px 22px;
    background: #02d62d;
    border-radius: 5rem;
    color: var(--bg-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: #02f032;
    }
  }
}