.booking-turf {

  &>.title {
    margin-top: 100px;
    text-align: center;
  }

  @media (min-width: 900px) {

    &>.booking-list {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;


      table {
        border: 2px solid forestgreen;
        width: 1000px;
        height: 50px;
        border-collapse: collapse;

        thead,
        tbody {

          tr {

            th {
              border-bottom: 2px solid forestgreen;
            }

            td {
              text-align: center;
            }
          }
        }

        tfoot {
          tr {

            th {
              border-top: 2px solid forestgreen;
            }

            td {
              border-top: 2px solid forestgreen;
              text-align: center;
            }
          }
        }
      }
    }
  }
}