.booking-turf {

  &>.title {
    margin-top: 100px;
    text-align: center;
  }

  @media (min-width: 900px) {

    &>.booking-list {
      margin: 30px auto;
      max-width: 1000px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      background-color: #f0f4f7;
      padding: 30px 30px;
      border-radius: 5px;
    }
  }
}