.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

  &>.form-control {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-left: 110px;

    &>label {
      color: #314862;
      font-weight: bold;
      font-size: 20px;
    }

    &>input {
      margin: 5px 0px;
      padding: 8px;
      padding-right: 20px;
      border-radius: 1rem;
      width: 70%;
    }
  }

  &>.add-turf {
    margin-right: 100px;
    padding: 8px 22px;
    background: #02d62d;
    border-radius: 5rem;
    color: var(--bg-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: #02f032;
    }
  }
}